body {
	background-color: #fff;
	height: 100%;
	font-size: 28px;
	font-family: '思源黑体 CN Light', 'Microsoft JhengHei', 'Microsoft MHei', 'Microsoft YaHei UI', sans-serif;
	position: relative;
	margin: 0px;
}

#wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(images/index/logo_bg.jpg);
	background-size: 100% auto;
	background-position-x: 0%;
	background-position-y: 0%; 
	background-repeat: no-repeat;
}
#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 10em;
	background-color: rgba(6, 40, 51, 0.8);
	z-index: 110;
}
#menu nav {
	margin-bottom: 5%;	
}
#menu nav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10%;
	margin-left: 0px;
	padding-top: 90%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#menu nav ul li {
	display: block;
	background-color: rgba(0, 0, 0, 0.53);
	margin-bottom: 2px;
	position: relative;
}
#menu nav ul li.current {
	background-color: rgba(255, 255, 255, 0.5);
}
#menu nav ul li a {
	display: inline-block;
	padding-top: 1em;
	padding-right: 5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	width: 100%;
}
#content {
	margin-left: 10em;
	margin-top: 0px;
	font-size: 20px;
}
#content .each_ctt {
	margin-left: 18%;
	margin-top: 6%;
	margin-right: 10%;
	margin-bottom: 25%;
}
#content #info_div #photos {
	display: inline-block;
	width: 30%;
	background-color: rgba(250, 250, 250, 0.7);
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
}
#content #info_div #photos img {
	max-width: 100%;
}
#content #info_div #photos #s_photo {
	max-width: 100%;
}
#content #info_div #photos #s_photo #expr{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 4.5em;
}
#content #info_div #text_info {
	width: 50%;
	background-color: rgba(250, 250, 250, 0.7);
	display: inline-block;
	margin-left: 1em;
	padding-left: 1em;
	vertical-align: top;
}
#content #info_div #text_info div {
	font-size: 24px;
	padding-top: 1em;
	padding-bottom: 1em;
}
#content #status {
	text-align: center;
	background-color: rgba(250, 250, 250, 0.7);
}
#content #data_table_id {
	clear: both;
	width: 100%;
	margin-top: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 6px !important;
	max-width: none !important;
	background-color: rgba(200, 200, 200, 0.5);
}
#content #data_table_id th, #content #data_table_id td {
	text-align: left;
	vertical-align: bottom;
	text-indent: 0.5em;
	height: 2em;
	width: auto;
}
#content #data_table_id td {
	border-top: 1px solid #fff;
}
.colsnotindex {
	border-left: 1px solid #fff;
}
#page_end {
	margin-top: 1.8em;
	width: 100%;
}
#page_info {
	float: left;
}
#page_up_down {
	float: right;
	margin: 0;
}
#page_up_down ul {
	margin: 0;
}
#page_up_down ul li {
	display: inline;
	margin-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: rgba(6, 40, 51, 0.8);
}
#page_up_down ul li a {
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a {
	text-decoration: none;
	color: #fff;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}