body {
	background-color: #fff5ca;
	height: 100%;
	font-size: 28px;
	font-family: '思源黑体 CN Light', 'Microsoft JhengHei', 'Microsoft MHei', 'Microsoft YaHei UI', sans-serif;
	position: relative;
	margin: 0px;
}
a:link {color: white; text-decoration:none;}
a:active:{color: white; }
a:visited {color :white;text-decoration:none;} 
a:hover {color: white; text-decoration:none;}
#wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../admin/images/index/logo_bg.jpg);
	background-size: 100% auto;
	background-position-x: 0%;
	background-position-y: 0%; 
	background-repeat: no-repeat;
}
#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 10em;
	background-color: rgba(6, 40, 51, 0.8);
	z-index: 110;
}
#menu nav {
	margin-bottom: 5%;	
}
#menu nav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10%;
	margin-left: 0px;
	padding-top: 80%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#menu nav ul li {
	display: block;
	background-color: rgba(0, 0, 0, 0.53);
	margin-bottom: 2px;
	position: relative;
}
#menu nav ul li.current {
	background-color: rgba(255, 255, 255, 0.5);
}
#menu nav ul li a {
	display: inline-block;
	padding-top: 1em;
	padding-right: 4em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	width: 100%;
}
#content {
	margin-left: 10em;
	margin-top: 0px;
	font-size: 20px;
	width: 100%;
	height: 100%;
}
#content #info_div {
	margin-left: 16%;
	margin-top: 7%;
	margin-right: 10%;
	margin-bottom: 25%;
	width: 70%;
	height: 70%;
}
#content #info_div #photos {
	display: inline-block;
	height: 25em;
	background-color: rgba(250, 250, 250, 0.7);
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 1%;
}
#content #info_div #photos #cap_photo {
	max-width: 100%;
	padding-top: 5%;
}
#content #info_div #photos #s_photo {
	max-width: 100%;
	padding-top: 4%;
}
#content #info_div #photos #s_photo #expr{
	display: inline-block;
}
#content #info_div #info_container {
	display: inline-block;
	width: 55.1%;
	height: 25em;
	background-color: rgba(250, 250, 250, 0.7);
	vertical-align: top;
}
#content #info_div #text_info {
	padding-left: 1%;
	max-width: 100%;
	max-height: 100%;
}
#content #info_div #text_info div {
	font-size: 24px;
	padding-top: 3%;
	padding-bottom: 3%;
}
#content #status {
	text-align: center;
	background-color: rgba(250, 250, 250, 0.7);
	width: 90.5%;
	margin-top: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 100%;
}
#content #data_table {
	margin-left: 12%;
	margin-top: 6%;
	margin-right: 10%;
	margin-bottom: 25%;
	width: 70%;
	height: 70%;
}
#content #data_table_id {
	clear: both;
	width: 100%;
	margin-top: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 6px !important;
	max-width: none !important;
	background-color: rgba(200, 200, 200, 0.5);
}
#content #data_table_id th, #content #data_table_id td {
	text-align: left;
	vertical-align: bottom;
	text-indent: 0.5em;
	height: 2em;
	width: auto;
}
#content #data_table_id td {
	border-top: 1px solid #fff;
}
.colsnotindex {
	border-left: 1px solid #fff;
}
#page_end {
	margin-top: 1.8em;
	width: 100%;
}
#page_info {
	float: left;
}
#page_up_down {
	float: right;
	margin: 0;
}
#page_up_down ul {
	margin: 0;
}
#page_up_down ul li {
	display: inline;
	margin-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: rgba(6, 40, 51, 0.8);
}
#page_up_down ul li a {
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a {
	text-decoration: none;
	color: #fff;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
img {
	max-width: 100%;
}
